@import '~bootstrap/scss/bootstrap';

main {
  align-self: center;
  justify-self: center;
  margin: auto;
}

.char-list-img {
  border-radius: 5px;
  height: 140px;
  width: 100px;
}

.char-list-stats {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 0;
  width: 33vh;
}

.char-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  // width: 75%;
}

.char-info {
  padding: 0.5em 1em;
  width: 50%;
}

.char-section-header {
  display: block;
  border-bottom: 1px solid black
}

.char-header {
  text-align: center;
  margin-bottom: ($spacer);
}

.char-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.class-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 75%;
}

.class-img {
  height: 490px;
  width: 350px;
}

.header {
  margin-bottom: ($spacer * 1.5);
  margin-top: ($spacer);
}
