@import '~bootstrap/scss/bootstrap';

$nav-theme: #f32d27;
$neutral-accent: #705d56;

main {
  align-self: center;
  justify-self: center;
  margin: auto;
}

.button-color {
  background-color: $nav-theme;
  border-color: $nav-theme;

  &:hover {
    background-color: #a3211d;
    border-color: #a3211d;
  }
}

.char-list-img {
  border-radius: 5px;
  height: 140px;
  margin: 0 ($spacer * .5);
  width: 100px;
}

.char-list-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.char-list-item {
  margin: auto;
  width: 62%;
}

.char-list-stats {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 0;
  width: 33vh;
}

.char-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  // width: 75%;
}

.char-info {
  padding: 0.5em 1em;
  width: 50%;
}

.char-home-img {
  height: 245px;
  width: 175px;
}

.char-section-header {
  display: block;
  border-bottom: 1px solid black
}

.char-header {
  text-align: center;
  margin-bottom: ($spacer);
}

.char-wrapper {
  // align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.class-list-img {
  display: block;
  height: 300px;
  margin: auto;
  width: 215px;
}

.class-img {
  height: 490px;
  width: 350px;
}

.class-info {
  width: 50%;
  padding-left: ($spacer);
}

.class-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  // width: 75%;
}

.header {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  margin-bottom: ($spacer * 1.5);
  margin-top: ($spacer);
}

.header-font {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.home-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-wrapper {
  margin: auto;
  text-align: center;
}

.nav-color {
  background-color: $nav-theme;
}

@media (max-width: 1200px) {
  .char-list-item {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .char-info {
    width: 60%;
  }

  .char-list-item {
    width: 100%;
  }

  .class-img {
    height: 370px;
    width: 265px;
  }
}

@media (max-width: 768px) {
  .char-info {
    width: 90%;

    h4 {
      font-size: 1.2em;
    }
  }

  .char-list-img {
    margin-bottom: ($spacer);
  }

  .char-list-stats {
    width: 28vh;

    h5 {
      font-size: 1em;
    }
  }

  .class-img {
    height: 280px;
    width: 200px;
  }

  .class-info {
    padding: ($spacer);
    text-align: center;
    width: 85%;
  }

  .class-list-img {
    height: 225px;
    width: 160px;
  }
}

@media (max-width: 576px) {
  .char-info {
    width: 100%;
  }

  .char-list-info {
    justify-content: center;
  }

  .char-list-stats {
    width: 40vh;

    h5 {
      font-size: 1em;
    }
  }

  .class-info {
    width: 100%;
  }

  .class-list-img {
    height: 200px;
    width: 140px;
  }

  .header {
    font-size: 1.6em;
  }

  .mobile-h4 {
    font-size: 1.2em;
  }
}
